@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: silver;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
  }